body{
    background-color: rgb(223, 223, 223);
}
header{
 /* background-color: red; */
    height: 200px;
    position: relative;
}
header ul  {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: skyblue; */
    width: fit-content;

    
}
header ul li a{
    text-decoration: none;

}
header ul li a:hover{
    text-decoration-line: underline;

}
header img{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%)
}
header ul li{
    display: inline;
    padding: 0px 70px 0px 70px ;
    font-size: 1.5em;
    text-decoration: none;
}
main{
    /* background-color: rosybrown; */
    position: relative;
    
}
footer{
    background-color: rgb(214, 214, 214);
}
.leftbar{
    width: 18%;
    position: absolute;
    left: 1em;
    border-style: solid;
    border-width: 1px 
    
    
    
}
.leftbar ul{
    padding-left: 10px;
    height: 800px;

}
.leftbar ul li{
    padding: 20px 0px 20px 0px ;
    font-size: 1.2em;
}
#wrap{
    width: 80%;
    position: absolute;
    left: 20%;
    /* background-color: seagreen; */
    height: 500px;
}

#productlist div{
    display: inline-block;
    padding: 0px 10px 10px ;

}


#productlist img:hover{
transform: scale(1.01);
}

.masks::before{
right: 50px;
}
.masks::after{
    left: 50px;
    }

.masks::before, .masks::after {
border-top: 2px solid rgb(102, 102, 102);
display: block;
position: absolute;
width: 20em;
/* top: 50%; */
content: "";
}
